In [1]:
from google.colab import files
uploaded = files.upload()

Saving test_final.csv to test_final.csv
Saving train_final.csv to train_final.csv

In [5]:
import pandas as pd

train = pd.read_csv("train_final.csv")
test = pd.read_csv("test_final.csv")

In [6]:
train['Onshore/Offshore'].value_counts()
train.isna().sum()
train['Hydrocarbon type'].value_counts()
train.shape

(355, 12)

In [7]:
train.isna().sum()
train['Hydrocarbon type'].value_counts()
train.shape

(355, 12)

In [18]:
train['Structural setting'].value_counts()

FORELAND                        63
RIFT                            50
INTRACRATONIC                   24
INVERSION/RIFT/SALT             15
FORELAND/SALT                   12
                                ..
DELTA/FORELAND/THRUST            1
FORELAND/SUB-THRUST/THRUST       1
BACKARC/DELTA/FORELAND           1
INVERSION/RIFT/THRUST/WRENCH     1
RIFT/INVERSION                   1
Name: Structural setting, Length: 65, dtype: int64

In [19]:
train_full = train.copy()
train_full = train_full['Tectonic regime'].str.get_dummies('/')
train_full.columns = train_full.columns.str.split().str[0]
train_full = train_full.add_prefix('regime_').reset_index()
train_full.drop(['index'], axis=1, inplace=True)
train_full = pd.concat([train, train_full], axis=1)
train_full

,Tectonic regime,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,...,regime_GRAVITY,regime_INVERSION,regime_LINKED,regime_REACTIVATION,regime_SHALE,regime_STRIKE-SLIP,regime_SYNSEDIMENTATION,regime_TRANSPRESSION,regime_TRANSTENSION,regime_UPLIFT
0,COMPRESSION,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,15250.000000,PALEOGENE,SANDSTONE,8000.000000,575.000000,...,0,0,0,0,0,0,0,0,0,0
1,COMPRESSION/EVAPORITE/EXTENSION/INVERSION,OFFSHORE,GAS-CONDENSATE,PLATEAU PRODUCTION,RIFT/SALT,16360.000000,JURASSIC,SANDSTONE,980.000000,490.000000,...,0,1,0,0,0,0,0,0,0,0
2,COMPRESSION/EROSION,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,4700.000000,PERMIAN,DOLOMITE,65.000000,21.000000,...,0,0,0,0,0,0,0,0,0,0
3,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,OFFSHORE,OIL,DEVELOPING,FORELAND/RIFT/SALT,8105.345849,CRETACEOUS,SANDSTONE,116.037254,41.595776,...,1,1,0,0,0,0,0,0,0,0
4,COMPRESSION/EROSION,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,7600.000000,CRETACEOUS,SANDSTONE,158.000000,15.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,MATURE PRODUCTION,WRENCH/FORELAND,1400.000000,NEOGENE,SANDSTONE,500.000000,120.000000,...,0,0,0,0,0,0,0,0,0,0
351,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,FORELAND,6550.000000,CRETACEOUS,DOLOMITE,1300.000000,200.000000,...,0,0,0,0,0,0,0,0,0,0
352,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,2326.000000,NEOGENE,THINLY-BEDDED SANDSTONE,700.000000,375.000000,...,0,0,0,0,0,1,0,1,0,0
353,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,1726.000000,NEOGENE,THINLY-BEDDED SANDSTONE,660.000000,152.000000,...,0,0,0,0,0,1,0,1,0,0
354,INVERSION/COMPRESSION/EXTENSION,ONSHORE-OFFSHORE,OIL,DECLINING PRODUCTION,RIFT/INVERSION,4954.000000,TRIASSIC,SANDSTONE,525.000000,150.000000,...,0,1,0,0,0,0,0,0,0,0

In [20]:
tmp = train_full.copy()
tmp = tmp['Structural setting'].str.get_dummies('/')
tmp.columns = tmp.columns.str.split().str[0]
tmp = tmp.add_prefix('Structural setting_').reset_index()
tmp.drop(['index'], axis=1, inplace=True)
train_full = pd.concat([train_full, tmp], axis=1)
train_full

,Tectonic regime,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,...,Structural setting_FORELAND,Structural setting_INTRACRATONIC,Structural setting_INVERSION,Structural setting_PASSIVE,Structural setting_RIFT,Structural setting_SALT,Structural setting_SUB-SALT,Structural setting_SUB-THRUST,Structural setting_THRUST,Structural setting_WRENCH
0,COMPRESSION,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,15250.000000,PALEOGENE,SANDSTONE,8000.000000,575.000000,...,1,0,0,0,0,0,0,0,0,0
1,COMPRESSION/EVAPORITE/EXTENSION/INVERSION,OFFSHORE,GAS-CONDENSATE,PLATEAU PRODUCTION,RIFT/SALT,16360.000000,JURASSIC,SANDSTONE,980.000000,490.000000,...,0,0,0,0,1,1,0,0,0,0
2,COMPRESSION/EROSION,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,4700.000000,PERMIAN,DOLOMITE,65.000000,21.000000,...,1,0,0,0,0,0,0,0,0,0
3,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,OFFSHORE,OIL,DEVELOPING,FORELAND/RIFT/SALT,8105.345849,CRETACEOUS,SANDSTONE,116.037254,41.595776,...,1,0,0,0,1,1,0,0,0,0
4,COMPRESSION/EROSION,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,7600.000000,CRETACEOUS,SANDSTONE,158.000000,15.000000,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,MATURE PRODUCTION,WRENCH/FORELAND,1400.000000,NEOGENE,SANDSTONE,500.000000,120.000000,...,1,0,0,0,0,0,0,0,0,1
351,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,FORELAND,6550.000000,CRETACEOUS,DOLOMITE,1300.000000,200.000000,...,1,0,0,0,0,0,0,0,0,0
352,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,2326.000000,NEOGENE,THINLY-BEDDED SANDSTONE,700.000000,375.000000,...,0,0,0,0,0,0,0,0,0,1
353,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,1726.000000,NEOGENE,THINLY-BEDDED SANDSTONE,660.000000,152.000000,...,0,0,0,0,0,0,0,0,0,1
354,INVERSION/COMPRESSION/EXTENSION,ONSHORE-OFFSHORE,OIL,DECLINING PRODUCTION,RIFT/INVERSION,4954.000000,TRIASSIC,SANDSTONE,525.000000,150.000000,...,0,0,1,0,1,0,0,0,0,0

In [21]:
print(train_full['Hydrocarbon type'].value_counts())
print('===============================================')
print(train_full['Reservoir status'].value_counts())
print('===============================================')
print(train_full['Period'].value_counts())
print('===============================================')
print(train_full['Lithology'].value_counts())

OIL                276
GAS                 49
GAS-CONDENSATE      27
CARBON DIOXIDE       2
METHANE HYDRATE      1
Name: Hydrocarbon type, dtype: int64
===============================================
DECLINING PRODUCTION        103
MATURE PRODUCTION            67
NEARLY DEPLETED              50
PLATEAU PRODUCTION           41
DEVELOPING                   30
REJUVENATING                 19
UNKNOWN                      17
UNDEVELOPED                  10
ABANDONED                     6
SECOND PLATEAU PRODUTION      5
CONTINUING DEVELOPMENT        4
DEPLETED                      3
Name: Reservoir status, dtype: int64
===============================================
CRETACEOUS                  89
NEOGENE                     63
JURASSIC                    61
PALEOGENE                   33
PERMIAN                     27
CARBONIFEROUS               21
DEVONIAN                    13
CRETACEOUS-PALEOGENE        11
TRIASSIC                    10
PROTEROZOIC                  5
PALEOGENE-NEOGENE            4
CARBONIFEROUS-PERMIAN        3
TRIASSIC-JURASSIC            3
PALEOZOIC                    3
ORDOVICIAN                   2
CARBONIFEROUS-CRETACEOUS     2
PROTEROZOIC-CAMBRIAN         1
CAMBRIAN-ORDOVICIAN          1
JURASSIC-CRETACEOUS          1
ARCHEAN                      1
CAMBRIAN                     1
Name: Period, dtype: int64
===============================================
SANDSTONE                    224
LIMESTONE                     47
DOLOMITE                      34
CHALK                         12
LOW-RESISTIVITY SANDSTONE      9
CONGLOMERATE                   8
THINLY-BEDDED SANDSTONE        7
CHALKY LIMESTONE               5
SILTSTONE                      3
DOLOMITIC LIMESTONE            2
BASEMENT                       1
SHALE                          1
CHERT                          1
DIATOMITE                      1
Name: Lithology, dtype: int64

In [22]:
train_full = pd.get_dummies(train_full, columns=['Hydrocarbon type', 'Reservoir status', 'Period', 'Lithology'])
train_full

,Tectonic regime,Onshore/Offshore,Structural setting,Depth,Gross,Netpay,Porosity,Permeability,regime_BASEMENT-I,regime_COMPRESSION,...,Lithology_CONGLOMERATE,Lithology_DIATOMITE,Lithology_DOLOMITE,Lithology_DOLOMITIC LIMESTONE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALE,Lithology_SILTSTONE,Lithology_THINLY-BEDDED SANDSTONE
0,COMPRESSION,ONSHORE,FORELAND,15250.000000,8000.000000,575.000000,5.000000,0.100000,0,1,...,0,0,0,0,0,0,1,0,0,0
1,COMPRESSION/EVAPORITE/EXTENSION/INVERSION,OFFSHORE,RIFT/SALT,16360.000000,980.000000,490.000000,16.000000,10.000000,0,1,...,0,0,0,0,0,0,1,0,0,0
2,COMPRESSION/EROSION,ONSHORE,FORELAND,4700.000000,65.000000,21.000000,8.000000,0.500000,0,1,...,0,0,1,0,0,0,0,0,0,0
3,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,OFFSHORE,FORELAND/RIFT/SALT,8105.345849,116.037254,41.595776,14.984042,29.920211,0,1,...,0,0,0,0,0,0,1,0,0,0
4,COMPRESSION/EROSION,ONSHORE,FORELAND,7600.000000,158.000000,15.000000,9.500000,10.000000,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,COMPRESSION/EROSION,ONSHORE-OFFSHORE,WRENCH/FORELAND,1400.000000,500.000000,120.000000,35.000000,1200.000000,0,1,...,0,0,0,0,0,0,1,0,0,0
351,COMPRESSION/EROSION,ONSHORE-OFFSHORE,FORELAND,6550.000000,1300.000000,200.000000,11.000000,10.000000,0,1,...,0,0,1,0,0,0,0,0,0,0
352,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,WRENCH,2326.000000,700.000000,375.000000,28.000000,400.000000,1,0,...,0,0,0,0,0,0,0,0,0,1
353,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,WRENCH,1726.000000,660.000000,152.000000,34.000000,2300.000000,1,0,...,0,0,0,0,0,0,0,0,0,1
354,INVERSION/COMPRESSION/EXTENSION,ONSHORE-OFFSHORE,RIFT/INVERSION,4954.000000,525.000000,150.000000,18.000000,100.000000,0,1,...,0,0,0,0,0,0,1,0,0,0

In [23]:
train_full.drop(['Tectonic regime', 'Structural setting'], axis=1, inplace=True)
train_full

,Onshore/Offshore,Depth,Gross,Netpay,Porosity,Permeability,regime_BASEMENT-I,regime_COMPRESSION,regime_DIAPIR,regime_EROSION,...,Lithology_CONGLOMERATE,Lithology_DIATOMITE,Lithology_DOLOMITE,Lithology_DOLOMITIC LIMESTONE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALE,Lithology_SILTSTONE,Lithology_THINLY-BEDDED SANDSTONE
0,ONSHORE,15250.000000,8000.000000,575.000000,5.000000,0.100000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,OFFSHORE,16360.000000,980.000000,490.000000,16.000000,10.000000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,ONSHORE,4700.000000,65.000000,21.000000,8.000000,0.500000,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
3,OFFSHORE,8105.345849,116.037254,41.595776,14.984042,29.920211,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,ONSHORE,7600.000000,158.000000,15.000000,9.500000,10.000000,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,ONSHORE-OFFSHORE,1400.000000,500.000000,120.000000,35.000000,1200.000000,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
351,ONSHORE-OFFSHORE,6550.000000,1300.000000,200.000000,11.000000,10.000000,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
352,ONSHORE-OFFSHORE,2326.000000,700.000000,375.000000,28.000000,400.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
353,ONSHORE-OFFSHORE,1726.000000,660.000000,152.000000,34.000000,2300.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
354,ONSHORE-OFFSHORE,4954.000000,525.000000,150.000000,18.000000,100.000000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [24]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
train_full['Onshore/Offshore'] = labelencoder.fit_transform(train_full['Onshore/Offshore'])
train_full

,Onshore/Offshore,Depth,Gross,Netpay,Porosity,Permeability,regime_BASEMENT-I,regime_COMPRESSION,regime_DIAPIR,regime_EROSION,...,Lithology_CONGLOMERATE,Lithology_DIATOMITE,Lithology_DOLOMITE,Lithology_DOLOMITIC LIMESTONE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALE,Lithology_SILTSTONE,Lithology_THINLY-BEDDED SANDSTONE
0,1,15250.000000,8000.000000,575.000000,5.000000,0.100000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,16360.000000,980.000000,490.000000,16.000000,10.000000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,4700.000000,65.000000,21.000000,8.000000,0.500000,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,8105.345849,116.037254,41.595776,14.984042,29.920211,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,7600.000000,158.000000,15.000000,9.500000,10.000000,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,2,1400.000000,500.000000,120.000000,35.000000,1200.000000,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
351,2,6550.000000,1300.000000,200.000000,11.000000,10.000000,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
352,2,2326.000000,700.000000,375.000000,28.000000,400.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
353,2,1726.000000,660.000000,152.000000,34.000000,2300.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
354,2,4954.000000,525.000000,150.000000,18.000000,100.000000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [25]:
train_full['Onshore/Offshore'].value_counts()

1    177
0    173
2      5
Name: Onshore/Offshore, dtype: int64

In [28]:
from imblearn.over_sampling import SMOTE

os = SMOTE(random_state=0, k_neighbors=3)

X_train_full = train_full.drop(['Onshore/Offshore'], axis=1)
y_train_full = train_full['Onshore/Offshore']

column = X_train_full.columns

print("До балансировки")
print(X_train_full.shape)
print(y_train_full.value_counts())

os_data_X, os_data_y = os.fit_resample(X_train_full, y_train_full)
os_data_X = pd.DataFrame(data=os_data_X, columns=column)
os_data_y = pd.DataFrame(data=os_data_y, columns=['Onshore/Offshore'])

print("После балансировки")
print(os_data_X.shape)
print(os_data_y.value_counts())

До балансировки
(355, 86)
1    177
0    173
2      5
Name: Onshore/Offshore, dtype: int64
После балансировки
(531, 86)
Onshore/Offshore
0                   177
1                   177
2                   177
dtype: int64

In [29]:
os_data_X

,Depth,Gross,Netpay,Porosity,Permeability,regime_BASEMENT-I,regime_COMPRESSION,regime_DIAPIR,regime_EROSION,regime_EVAPORITE,...,Lithology_CONGLOMERATE,Lithology_DIATOMITE,Lithology_DOLOMITE,Lithology_DOLOMITIC LIMESTONE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALE,Lithology_SILTSTONE,Lithology_THINLY-BEDDED SANDSTONE
0,15250.000000,8000.000000,575.000000,5.000000,0.100000,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,16360.000000,980.000000,490.000000,16.000000,10.000000,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,4700.000000,65.000000,21.000000,8.000000,0.500000,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,8105.345849,116.037254,41.595776,14.984042,29.920211,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,7600.000000,158.000000,15.000000,9.500000,10.000000,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,2958.898034,657.854964,320.813525,25.591712,327.751366,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
527,2049.748846,646.460318,151.799412,32.395297,2079.353327,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
528,1458.390904,500.410741,120.492889,34.720696,1181.927407,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
529,5066.471210,579.614779,153.523534,17.506705,93.657639,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
530,1618.392794,607.186647,141.437329,34.330083,1936.908201,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
scaler.fit(os_data_X)
os_data_X_norm = scaler.transform(os_data_X)

os_data_X_norm

array([[0.84063745, 0.88709042, 0.19321237, ..., 0.        , 0.        ,
        0.        ],
       [0.90381332, 0.10759677, 0.16465054, ..., 0.        , 0.        ,
        0.        ],
       [0.24018213, 0.0059961 , 0.00705645, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.05568531, 0.05434367, 0.0404882 , ..., 0.        , 0.        ,
        0.        ],
       [0.26103991, 0.06313841, 0.05158721, ..., 0.        , 0.        ,
        0.        ],
       [0.06479185, 0.06619996, 0.04752598, ..., 0.        , 0.        ,
        0.        ]])

In [31]:
# os_data_X_norm - это вектор признаков (все сбалансировано, нормализовано и обработано)
# os_data_y - вевтор ответов

from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(os_data_X_norm, os_data_y, test_size=0.3, random_state=1)

"""SVC_model = SVC()
SVC_model.fit(X_train, y_train)
SCV_predict = SVC_model.predict(X_test)

print(confusion_matrix(y_test, SCV_predict))
print(accuracy_score(y_test, SCV_predict))
"""
# GridSearch, RandomSearch, RFE, KFold и cross_val_score

[[45  3  0]
 [ 6 46  1]
 [ 0  1 58]]
0.93125

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10, max_depth=50)
clf.fit(X_train, y_train)
pred = clf.predict(X_test)
print(confusion_matrix(y_test, pred))
print(accuracy_score(y_test, pred))

[[45  3  0]
 [ 5 43  5]
 [ 0  1 58]]
0.9125

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [39]:
test_full = test.copy()
test_full

,Tectonic regime,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,Porosity,Permeability
0,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,GAS,DECLINING PRODUCTION,INVERSION/SUB-SALT,7420.000000,PERMIAN,SANDSTONE,715.000000,580.000000,11.000000,0.500000
1,EXTENSION,OIL,NEARLY DEPLETED,PASSIVE,4843.000000,PALEOGENE,SANDSTONE,2133.000000,72.000000,23.000000,350.000000
2,COMPRESSION/EXTENSION/INVERSION,OIL,DEVELOPING,INVERSION/RIFT,8450.000000,CRETACEOUS,LOW-RESISTIVITY SANDSTONE,145.000000,45.000000,18.000000,700.000000
3,COMPRESSION/EROSION,OIL,MATURE PRODUCTION,FORELAND,5463.000000,DEVONIAN,SANDSTONE,115.000000,29.000000,19.000000,375.000000
4,BASEMENT-I/STRIKE-SLIP/TRANSPRESSION,OIL,DEVELOPING,INVERSION/WRENCH,3520.000000,NEOGENE,SANDSTONE,2460.000000,220.000000,20.000000,45.000000
...,...,...,...,...,...,...,...,...,...,...,...
273,BASEMENT-I/COMPRESSION/EROSION/STRIKE-SLIP/TRA...,OIL,NEARLY DEPLETED,FORELAND/WRENCH,1683.811578,NEOGENE,THINLY-BEDDED SANDSTONE,639.294026,147.858805,34.129412,2157.646429
274,COMPRESSION/EROSION/EXTENSION/INVERSION,OIL,NEARLY DEPLETED,FORELAND/INVERSION/RIFT,5877.960131,CRETACEOUS,DOLOMITE,973.664850,178.946119,13.947543,47.896985
275,BASEMENT-I/COMPRESSION/EROSION/STRIKE-SLIP/TRA...,OIL,NEARLY DEPLETED,FORELAND/WRENCH,1695.923184,NEOGENE,THINLY-BEDDED SANDSTONE,645.238373,149.047675,34.092260,2198.513813
276,BASEMENT-I/COMPRESSION/EROSION/STRIKE-SLIP/TRA...,OIL,MATURE PRODUCTION,FORELAND/WRENCH,1429.162420,NEOGENE,SANDSTONE,514.312844,122.862569,34.910545,1298.400805
277,COMPRESSION/EROSION/EXTENSION/INVERSION,OIL,NEARLY DEPLETED,FORELAND/INVERSION/RIFT,6417.577091,CRETACEOUS,DOLOMITE,1235.696896,195.851413,11.580802,17.467457

In [41]:
test_full = test_full['Tectonic regime'].str.get_dummies('/')
test_full.columns = test_full.columns.str.split().str[0]
test_full = test_full.add_prefix('regime_').reset_index()
test_full.drop(['index'], axis=1, inplace=True)
test_full = pd.concat([test, test_full], axis=1)
tmp = test_full.copy()
tmp = tmp['Structural setting'].str.get_dummies('/')
tmp.columns = tmp.columns.str.split().str[0]
tmp = tmp.add_prefix('Structural setting_').reset_index()
tmp.drop(['index'], axis=1, inplace=True)
test_full = pd.concat([test_full, tmp], axis=1)
test_full = pd.get_dummies(test_full, columns=['Hydrocarbon type', 'Reservoir status', 'Period', 'Lithology'])
test_full.drop(['Tectonic regime', 'Structural setting'], axis=1, inplace=True)

test_full

,Depth,Gross,Netpay,Porosity,Permeability,regime_BASEMENT-I,regime_COMPRESSION,regime_EROSION,regime_EVAPORITE,regime_EXTENSION,...,Lithology_CHALK,Lithology_CHALKY LIMESTONE,Lithology_CONGLOMERATE,Lithology_DOLOMITE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALY SANDSTONE,Lithology_THINLY-BEDDED SANDSTONE,Lithology_VOLCANICS
0,7420.000000,715.000000,580.000000,11.000000,0.500000,0,1,0,1,1,...,0,0,0,0,0,0,1,0,0,0
1,4843.000000,2133.000000,72.000000,23.000000,350.000000,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,8450.000000,145.000000,45.000000,18.000000,700.000000,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,5463.000000,115.000000,29.000000,19.000000,375.000000,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,3520.000000,2460.000000,220.000000,20.000000,45.000000,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,1683.811578,639.294026,147.858805,34.129412,2157.646429,1,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
274,5877.960131,973.664850,178.946119,13.947543,47.896985,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,0
275,1695.923184,645.238373,149.047675,34.092260,2198.513813,1,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
276,1429.162420,514.312844,122.862569,34.910545,1298.400805,1,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
277,6417.577091,1235.696896,195.851413,11.580802,17.467457,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,0

In [42]:
train_cols = train_full.columns
test_cols = test_full.columns

print(len(train_cols))
print(len(test_cols))

cols = set(train_cols) & set(test_cols)
print(len(cols)) # cols - общие признаки которые есть и в train и в test

87
68
65

In [47]:
train_full_65 = X_train_full[cols]
train_full_65

,Period_NEOGENE,Period_TRIASSIC,regime_COMPRESSION,Gross,Reservoir status_DECLINING PRODUCTION,regime_UPLIFT,Reservoir status_PLATEAU PRODUCTION,regime_LINKED,Period_DEVONIAN,Lithology_DOLOMITE,...,Structural setting_SALT,Period_JURASSIC-CRETACEOUS,regime_TRANSPRESSION,Structural setting_FORELAND,Lithology_CHALK,Reservoir status_MATURE PRODUCTION,Lithology_THINLY-BEDDED SANDSTONE,Reservoir status_NEARLY DEPLETED,Structural setting_THRUST,Reservoir status_CONTINUING DEVELOPMENT
0,0,0,1,8000.000000,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,0,0,1,980.000000,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,1,65.000000,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
3,0,0,1,116.037254,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,0,0,1,158.000000,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,1,0,1,500.000000,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
351,0,0,1,1300.000000,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
352,1,0,0,700.000000,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
353,1,0,0,660.000000,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
354,0,1,1,525.000000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
os_data_X_65 = train_full[cols]
 #возьмем из сбалансорованных данных только те столбцы которые есть и в train и в test
test_full_65 = test_full[cols]
#для os_data_X_72 правильные ответы лежат в os_data_y
# здесь нет нормализации ни для train ни для test!!!!!


clf = SVC()
clf.fit(os_data_X_65, os_data_y[:355])
pred = clf.predict(test_full_65)

pred

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0])

In [76]:
s = pd.DataFrame(pred, columns=["Onshore/Offshore"])
s = s.reset_index()
d = {0: "OFFSHORE", 1: "ONSHORE"}
s["Onshore/Offshore"] = s["Onshore/Offshore"].map(d)
s = s.rename(columns={"index":"Index"})
s.to_csv("Solution_Kosolapov", index = False)
s

     Index Onshore/Offshore
0        0         OFFSHORE
1        1          ONSHORE
2        2         OFFSHORE
3        3          ONSHORE
4        4          ONSHORE
..     ...              ...
273    273          ONSHORE
274    274          ONSHORE
275    275          ONSHORE
276    276          ONSHORE
277    277         OFFSHORE

[278 rows x 2 columns]