In [292]:
from google.colab import files
uploaded = files.upload()

Saving train_final.csv to train_final.csv
Saving test_final.csv to test_final.csv

In [293]:
import pandas as pd

train = pd.read_csv("train_final.csv")
test = pd.read_csv("test_final.csv")

In [294]:
train

,Tectonic regime,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,Porosity,Permeability
0,COMPRESSION,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,15250.000000,PALEOGENE,SANDSTONE,8000.000000,575.000000,5.000000,0.100000
1,COMPRESSION/EVAPORITE/EXTENSION/INVERSION,OFFSHORE,GAS-CONDENSATE,PLATEAU PRODUCTION,RIFT/SALT,16360.000000,JURASSIC,SANDSTONE,980.000000,490.000000,16.000000,10.000000
2,COMPRESSION/EROSION,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,4700.000000,PERMIAN,DOLOMITE,65.000000,21.000000,8.000000,0.500000
3,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,OFFSHORE,OIL,DEVELOPING,FORELAND/RIFT/SALT,8105.345849,CRETACEOUS,SANDSTONE,116.037254,41.595776,14.984042,29.920211
4,COMPRESSION/EROSION,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,7600.000000,CRETACEOUS,SANDSTONE,158.000000,15.000000,9.500000,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
350,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,MATURE PRODUCTION,WRENCH/FORELAND,1400.000000,NEOGENE,SANDSTONE,500.000000,120.000000,35.000000,1200.000000
351,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,FORELAND,6550.000000,CRETACEOUS,DOLOMITE,1300.000000,200.000000,11.000000,10.000000
352,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,2326.000000,NEOGENE,THINLY-BEDDED SANDSTONE,700.000000,375.000000,28.000000,400.000000
353,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,1726.000000,NEOGENE,THINLY-BEDDED SANDSTONE,660.000000,152.000000,34.000000,2300.000000
354,INVERSION/COMPRESSION/EXTENSION,ONSHORE-OFFSHORE,OIL,DECLINING PRODUCTION,RIFT/INVERSION,4954.000000,TRIASSIC,SANDSTONE,525.000000,150.000000,18.000000,100.000000

In [295]:
train['Onshore/Offshore'].value_counts()

ONSHORE             177
OFFSHORE            173
ONSHORE-OFFSHORE      5
Name: Onshore/Offshore, dtype: int64

In [296]:
train.isna().sum()

Tectonic regime       0
Onshore/Offshore      0
Hydrocarbon type      0
Reservoir status      0
Structural setting    0
Depth                 0
Period                0
Lithology             0
Gross                 0
Netpay                0
Porosity              0
Permeability          0
dtype: int64

In [297]:
train['Tectonic regime'].value_counts()

COMPRESSION                                                              53
EXTENSION                                                                28
COMPRESSION/EXTENSION/INVERSION                                          27
COMPRESSION/EROSION                                                      22
COMPRESSION/EVAPORITE                                                    22
                                                                         ..
COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/LINKED/SHALE/SYNSEDIMENTATION     1
EROSION/EVAPORITE/EXTENSION/INVERSION                                     1
COMPRESSION/EXTENSION/GRAVITY/LINKED/SHALE                                1
STRIKE-SLIP/TRANSPRESSION                                                 1
INVERSION/COMPRESSION/EXTENSION                                           1
Name: Tectonic regime, Length: 67, dtype: int64

In [298]:
train.shape

(355, 12)

In [299]:
train_full = train.copy()
train_full = train_full['Tectonic regime'].str.get_dummies('/')
train_full.columns = train_full.columns.str.split().str[0]
train_full = train_full.add_prefix('Tectonic regime_').reset_index()
train_full.drop(['index'], axis=1, inplace=True)
train_full = pd.concat([train, train_full], axis=1)
train_full

,Tectonic regime,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,...,Tectonic regime_GRAVITY,Tectonic regime_INVERSION,Tectonic regime_LINKED,Tectonic regime_REACTIVATION,Tectonic regime_SHALE,Tectonic regime_STRIKE-SLIP,Tectonic regime_SYNSEDIMENTATION,Tectonic regime_TRANSPRESSION,Tectonic regime_TRANSTENSION,Tectonic regime_UPLIFT
0,COMPRESSION,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,15250.000000,PALEOGENE,SANDSTONE,8000.000000,575.000000,...,0,0,0,0,0,0,0,0,0,0
1,COMPRESSION/EVAPORITE/EXTENSION/INVERSION,OFFSHORE,GAS-CONDENSATE,PLATEAU PRODUCTION,RIFT/SALT,16360.000000,JURASSIC,SANDSTONE,980.000000,490.000000,...,0,1,0,0,0,0,0,0,0,0
2,COMPRESSION/EROSION,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,4700.000000,PERMIAN,DOLOMITE,65.000000,21.000000,...,0,0,0,0,0,0,0,0,0,0
3,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,OFFSHORE,OIL,DEVELOPING,FORELAND/RIFT/SALT,8105.345849,CRETACEOUS,SANDSTONE,116.037254,41.595776,...,1,1,0,0,0,0,0,0,0,0
4,COMPRESSION/EROSION,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,7600.000000,CRETACEOUS,SANDSTONE,158.000000,15.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,MATURE PRODUCTION,WRENCH/FORELAND,1400.000000,NEOGENE,SANDSTONE,500.000000,120.000000,...,0,0,0,0,0,0,0,0,0,0
351,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,FORELAND,6550.000000,CRETACEOUS,DOLOMITE,1300.000000,200.000000,...,0,0,0,0,0,0,0,0,0,0
352,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,2326.000000,NEOGENE,THINLY-BEDDED SANDSTONE,700.000000,375.000000,...,0,0,0,0,0,1,0,1,0,0
353,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,1726.000000,NEOGENE,THINLY-BEDDED SANDSTONE,660.000000,152.000000,...,0,0,0,0,0,1,0,1,0,0
354,INVERSION/COMPRESSION/EXTENSION,ONSHORE-OFFSHORE,OIL,DECLINING PRODUCTION,RIFT/INVERSION,4954.000000,TRIASSIC,SANDSTONE,525.000000,150.000000,...,0,1,0,0,0,0,0,0,0,0

In [300]:
train_full['Tectonic regime'].str.get_dummies('/').columns.size

16

In [301]:
train_full['Structural setting'].str.get_dummies('/').columns.size

13

In [302]:
train_full = train.copy()
train_full = train_full['Tectonic regime'].str.get_dummies('/')
train_full.columns = train_full.columns.str.split().str[0]
train_full = train_full.add_prefix('Structural setting_').reset_index()
train_full.drop(['index'], axis=1, inplace=True)
train_full = pd.concat([train, train_full], axis=1)
train_full

,Tectonic regime,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,...,Structural setting_GRAVITY,Structural setting_INVERSION,Structural setting_LINKED,Structural setting_REACTIVATION,Structural setting_SHALE,Structural setting_STRIKE-SLIP,Structural setting_SYNSEDIMENTATION,Structural setting_TRANSPRESSION,Structural setting_TRANSTENSION,Structural setting_UPLIFT
0,COMPRESSION,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,15250.000000,PALEOGENE,SANDSTONE,8000.000000,575.000000,...,0,0,0,0,0,0,0,0,0,0
1,COMPRESSION/EVAPORITE/EXTENSION/INVERSION,OFFSHORE,GAS-CONDENSATE,PLATEAU PRODUCTION,RIFT/SALT,16360.000000,JURASSIC,SANDSTONE,980.000000,490.000000,...,0,1,0,0,0,0,0,0,0,0
2,COMPRESSION/EROSION,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,4700.000000,PERMIAN,DOLOMITE,65.000000,21.000000,...,0,0,0,0,0,0,0,0,0,0
3,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,OFFSHORE,OIL,DEVELOPING,FORELAND/RIFT/SALT,8105.345849,CRETACEOUS,SANDSTONE,116.037254,41.595776,...,1,1,0,0,0,0,0,0,0,0
4,COMPRESSION/EROSION,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,7600.000000,CRETACEOUS,SANDSTONE,158.000000,15.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,MATURE PRODUCTION,WRENCH/FORELAND,1400.000000,NEOGENE,SANDSTONE,500.000000,120.000000,...,0,0,0,0,0,0,0,0,0,0
351,COMPRESSION/EROSION,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,FORELAND,6550.000000,CRETACEOUS,DOLOMITE,1300.000000,200.000000,...,0,0,0,0,0,0,0,0,0,0
352,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,2326.000000,NEOGENE,THINLY-BEDDED SANDSTONE,700.000000,375.000000,...,0,0,0,0,0,1,0,1,0,0
353,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,OIL,NEARLY DEPLETED,WRENCH,1726.000000,NEOGENE,THINLY-BEDDED SANDSTONE,660.000000,152.000000,...,0,0,0,0,0,1,0,1,0,0
354,INVERSION/COMPRESSION/EXTENSION,ONSHORE-OFFSHORE,OIL,DECLINING PRODUCTION,RIFT/INVERSION,4954.000000,TRIASSIC,SANDSTONE,525.000000,150.000000,...,0,1,0,0,0,0,0,0,0,0

In [303]:
print(train_full['Hydrocarbon type'].value_counts())
print('===============================================')
print(train_full['Reservoir status'].value_counts())
print('===============================================')
print(train_full['Period'].value_counts())
print('===============================================')
print(train_full['Lithology'].value_counts())

OIL                276
GAS                 49
GAS-CONDENSATE      27
CARBON DIOXIDE       2
METHANE HYDRATE      1
Name: Hydrocarbon type, dtype: int64
===============================================
DECLINING PRODUCTION        103
MATURE PRODUCTION            67
NEARLY DEPLETED              50
PLATEAU PRODUCTION           41
DEVELOPING                   30
REJUVENATING                 19
UNKNOWN                      17
UNDEVELOPED                  10
ABANDONED                     6
SECOND PLATEAU PRODUTION      5
CONTINUING DEVELOPMENT        4
DEPLETED                      3
Name: Reservoir status, dtype: int64
===============================================
CRETACEOUS                  89
NEOGENE                     63
JURASSIC                    61
PALEOGENE                   33
PERMIAN                     27
CARBONIFEROUS               21
DEVONIAN                    13
CRETACEOUS-PALEOGENE        11
TRIASSIC                    10
PROTEROZOIC                  5
PALEOGENE-NEOGENE            4
CARBONIFEROUS-PERMIAN        3
TRIASSIC-JURASSIC            3
PALEOZOIC                    3
ORDOVICIAN                   2
CARBONIFEROUS-CRETACEOUS     2
PROTEROZOIC-CAMBRIAN         1
CAMBRIAN-ORDOVICIAN          1
JURASSIC-CRETACEOUS          1
ARCHEAN                      1
CAMBRIAN                     1
Name: Period, dtype: int64
===============================================
SANDSTONE                    224
LIMESTONE                     47
DOLOMITE                      34
CHALK                         12
LOW-RESISTIVITY SANDSTONE      9
CONGLOMERATE                   8
THINLY-BEDDED SANDSTONE        7
CHALKY LIMESTONE               5
SILTSTONE                      3
DOLOMITIC LIMESTONE            2
BASEMENT                       1
SHALE                          1
CHERT                          1
DIATOMITE                      1
Name: Lithology, dtype: int64

In [304]:
train_full = pd.get_dummies(train_full, columns=['Hydrocarbon type', 'Reservoir status', 'Period', 'Lithology'])
train_full

,Tectonic regime,Onshore/Offshore,Structural setting,Depth,Gross,Netpay,Porosity,Permeability,Structural setting_BASEMENT-I,Structural setting_COMPRESSION,...,Lithology_CONGLOMERATE,Lithology_DIATOMITE,Lithology_DOLOMITE,Lithology_DOLOMITIC LIMESTONE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALE,Lithology_SILTSTONE,Lithology_THINLY-BEDDED SANDSTONE
0,COMPRESSION,ONSHORE,FORELAND,15250.000000,8000.000000,575.000000,5.000000,0.100000,0,1,...,0,0,0,0,0,0,1,0,0,0
1,COMPRESSION/EVAPORITE/EXTENSION/INVERSION,OFFSHORE,RIFT/SALT,16360.000000,980.000000,490.000000,16.000000,10.000000,0,1,...,0,0,0,0,0,0,1,0,0,0
2,COMPRESSION/EROSION,ONSHORE,FORELAND,4700.000000,65.000000,21.000000,8.000000,0.500000,0,1,...,0,0,1,0,0,0,0,0,0,0
3,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,OFFSHORE,FORELAND/RIFT/SALT,8105.345849,116.037254,41.595776,14.984042,29.920211,0,1,...,0,0,0,0,0,0,1,0,0,0
4,COMPRESSION/EROSION,ONSHORE,FORELAND,7600.000000,158.000000,15.000000,9.500000,10.000000,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,COMPRESSION/EROSION,ONSHORE-OFFSHORE,WRENCH/FORELAND,1400.000000,500.000000,120.000000,35.000000,1200.000000,0,1,...,0,0,0,0,0,0,1,0,0,0
351,COMPRESSION/EROSION,ONSHORE-OFFSHORE,FORELAND,6550.000000,1300.000000,200.000000,11.000000,10.000000,0,1,...,0,0,1,0,0,0,0,0,0,0
352,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,WRENCH,2326.000000,700.000000,375.000000,28.000000,400.000000,1,0,...,0,0,0,0,0,0,0,0,0,1
353,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,ONSHORE-OFFSHORE,WRENCH,1726.000000,660.000000,152.000000,34.000000,2300.000000,1,0,...,0,0,0,0,0,0,0,0,0,1
354,INVERSION/COMPRESSION/EXTENSION,ONSHORE-OFFSHORE,RIFT/INVERSION,4954.000000,525.000000,150.000000,18.000000,100.000000,0,1,...,0,0,0,0,0,0,1,0,0,0

In [305]:
train_full.drop(['Tectonic regime', 'Structural setting'], axis=1, inplace=True)


from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
train_full['Onshore/Offshore'] = labelencoder.fit_transform(train_full['Onshore/Offshore'])
train_full

,Onshore/Offshore,Depth,Gross,Netpay,Porosity,Permeability,Structural setting_BASEMENT-I,Structural setting_COMPRESSION,Structural setting_DIAPIR,Structural setting_EROSION,...,Lithology_CONGLOMERATE,Lithology_DIATOMITE,Lithology_DOLOMITE,Lithology_DOLOMITIC LIMESTONE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALE,Lithology_SILTSTONE,Lithology_THINLY-BEDDED SANDSTONE
0,1,15250.000000,8000.000000,575.000000,5.000000,0.100000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,16360.000000,980.000000,490.000000,16.000000,10.000000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,4700.000000,65.000000,21.000000,8.000000,0.500000,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,8105.345849,116.037254,41.595776,14.984042,29.920211,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,7600.000000,158.000000,15.000000,9.500000,10.000000,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,2,1400.000000,500.000000,120.000000,35.000000,1200.000000,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
351,2,6550.000000,1300.000000,200.000000,11.000000,10.000000,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
352,2,2326.000000,700.000000,375.000000,28.000000,400.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
353,2,1726.000000,660.000000,152.000000,34.000000,2300.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
354,2,4954.000000,525.000000,150.000000,18.000000,100.000000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [306]:
train_full['Onshore/Offshore'].value_counts()

1    177
0    173
2      5
Name: Onshore/Offshore, dtype: int64

In [307]:
os_data_X

,Depth,Gross,Netpay,Porosity,Permeability,Structural setting_BASEMENT-I,Structural setting_COMPRESSION,Structural setting_DIAPIR,Structural setting_EROSION,Structural setting_EVAPORITE,...,Lithology_CONGLOMERATE,Lithology_DIATOMITE,Lithology_DOLOMITE,Lithology_DOLOMITIC LIMESTONE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALE,Lithology_SILTSTONE,Lithology_THINLY-BEDDED SANDSTONE
0,15250.000000,8000.000000,575.000000,5.000000,0.100000,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,16360.000000,980.000000,490.000000,16.000000,10.000000,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,4700.000000,65.000000,21.000000,8.000000,0.500000,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,8105.345849,116.037254,41.595776,14.984042,29.920211,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,7600.000000,158.000000,15.000000,9.500000,10.000000,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,2958.898034,657.854964,320.813525,25.591712,327.751366,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
527,2049.748846,646.460318,151.799412,32.395297,2079.353327,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
528,1458.390904,500.410741,120.492889,34.720696,1181.927407,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
529,5066.471210,579.614779,153.523534,17.506705,93.657639,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
530,1618.392794,607.186647,141.437329,34.330083,1936.908201,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [308]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(os_data_X)
os_data_X_norm = scaler.transform(os_data_X)

os_data_X_norm

array([[ 2.77400743,  6.83549055,  1.43391725, ..., -0.04343722,
        -0.07537784, -0.24470439],
       [ 3.0959827 ,  0.18860106,  1.09329488, ..., -0.04343722,
        -0.07537784, -0.24470439],
       [-0.28620798, -0.67776702, -0.7861391 , ..., -0.04343722,
        -0.07537784, -0.24470439],
       ...,
       [-1.22649443, -0.2654982 , -0.38743907, ..., -0.04343722,
        -0.07537784, -0.24470439],
       [-0.17990647, -0.19050383, -0.25507464, ..., -0.04343722,
        -0.07537784, -0.24470439],
       [-1.18008303, -0.1643974 , -0.30350795, ..., -0.04343722,
        -0.07537784, -0.24470439]])

In [309]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(os_data_X_norm, os_data_y, test_size=0.3, random_state=1)

clf = DecisionTreeClassifier(max_depth=4, random_state=1)

clf.fit(X_train, y_train)
y_pred_tree = clf.predict(X_test)

In [310]:
from sklearn.metrics import accuracy_score

print("Accuracy:", accuracy_score(y_test,y_pred_tree))

Accuracy: 0.8625

----------------------------------------------------------------------------------------------------------------------\

In [311]:
test

,Tectonic regime,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,Porosity,Permeability
0,COMPRESSION/EVAPORITE/EXTENSION/GRAVITY/INVERSION,GAS,DECLINING PRODUCTION,INVERSION/SUB-SALT,7420.000000,PERMIAN,SANDSTONE,715.000000,580.000000,11.000000,0.500000
1,EXTENSION,OIL,NEARLY DEPLETED,PASSIVE,4843.000000,PALEOGENE,SANDSTONE,2133.000000,72.000000,23.000000,350.000000
2,COMPRESSION/EXTENSION/INVERSION,OIL,DEVELOPING,INVERSION/RIFT,8450.000000,CRETACEOUS,LOW-RESISTIVITY SANDSTONE,145.000000,45.000000,18.000000,700.000000
3,COMPRESSION/EROSION,OIL,MATURE PRODUCTION,FORELAND,5463.000000,DEVONIAN,SANDSTONE,115.000000,29.000000,19.000000,375.000000
4,BASEMENT-I/STRIKE-SLIP/TRANSPRESSION,OIL,DEVELOPING,INVERSION/WRENCH,3520.000000,NEOGENE,SANDSTONE,2460.000000,220.000000,20.000000,45.000000
...,...,...,...,...,...,...,...,...,...,...,...
273,BASEMENT-I/COMPRESSION/EROSION/STRIKE-SLIP/TRA...,OIL,NEARLY DEPLETED,FORELAND/WRENCH,1683.811578,NEOGENE,THINLY-BEDDED SANDSTONE,639.294026,147.858805,34.129412,2157.646429
274,COMPRESSION/EROSION/EXTENSION/INVERSION,OIL,NEARLY DEPLETED,FORELAND/INVERSION/RIFT,5877.960131,CRETACEOUS,DOLOMITE,973.664850,178.946119,13.947543,47.896985
275,BASEMENT-I/COMPRESSION/EROSION/STRIKE-SLIP/TRA...,OIL,NEARLY DEPLETED,FORELAND/WRENCH,1695.923184,NEOGENE,THINLY-BEDDED SANDSTONE,645.238373,149.047675,34.092260,2198.513813
276,BASEMENT-I/COMPRESSION/EROSION/STRIKE-SLIP/TRA...,OIL,MATURE PRODUCTION,FORELAND/WRENCH,1429.162420,NEOGENE,SANDSTONE,514.312844,122.862569,34.910545,1298.400805
277,COMPRESSION/EROSION/EXTENSION/INVERSION,OIL,NEARLY DEPLETED,FORELAND/INVERSION/RIFT,6417.577091,CRETACEOUS,DOLOMITE,1235.696896,195.851413,11.580802,17.467457

In [312]:
test_full = test.copy()
test_full = test_full['Tectonic regime'].str.get_dummies('/')
test_full.columns = test_full.columns.str.split().str[0]
test_full = test_full.add_prefix('Tectonic regime_').reset_index()
test_full.drop(['index'], axis=1, inplace=True)
test_full = pd.concat([test, test_full], axis=1)

In [313]:
test_full = test.copy()
test_full = test_full['Structural setting'].str.get_dummies('/')
test_full.columns = test_full.columns.str.split().str[0]
test_full = test_full.add_prefix('Structural setting_').reset_index()
test_full.drop(['index'], axis=1, inplace=True)
test_full = pd.concat([test, test_full], axis=1)

In [314]:
test_full = pd.get_dummies(test_full, columns=['Hydrocarbon type', 'Reservoir status', 'Period', 'Lithology'])

In [315]:
test_full.drop(['Tectonic regime', 'Structural setting'], axis=1, inplace=True)
test_full

,Depth,Gross,Netpay,Porosity,Permeability,Structural setting_BACKARC,Structural setting_DELTA,Structural setting_FOREARC,Structural setting_FORELAND,Structural setting_INTRACRATONIC,...,Lithology_CHALK,Lithology_CHALKY LIMESTONE,Lithology_CONGLOMERATE,Lithology_DOLOMITE,Lithology_LIMESTONE,Lithology_LOW-RESISTIVITY SANDSTONE,Lithology_SANDSTONE,Lithology_SHALY SANDSTONE,Lithology_THINLY-BEDDED SANDSTONE,Lithology_VOLCANICS
0,7420.000000,715.000000,580.000000,11.000000,0.500000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,4843.000000,2133.000000,72.000000,23.000000,350.000000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,8450.000000,145.000000,45.000000,18.000000,700.000000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,5463.000000,115.000000,29.000000,19.000000,375.000000,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,3520.000000,2460.000000,220.000000,20.000000,45.000000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,1683.811578,639.294026,147.858805,34.129412,2157.646429,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
274,5877.960131,973.664850,178.946119,13.947543,47.896985,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
275,1695.923184,645.238373,149.047675,34.092260,2198.513813,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
276,1429.162420,514.312844,122.862569,34.910545,1298.400805,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
277,6417.577091,1235.696896,195.851413,11.580802,17.467457,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [316]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler


scaler = StandardScaler()
scaler.fit(test_full)
os_data_X_norm = scaler.transform(test_full)

os_data_X_norm

array([[ 1.20726549, -0.0814919 ,  2.77999106, ..., -0.10444659,
        -0.61338212, -0.08512565],
       [ 0.30703622,  1.35875745, -0.78172743, ..., -0.10444659,
        -0.61338212, -0.08512565],
       [ 1.56707773, -0.66043557, -0.97103137, ..., -0.10444659,
        -0.61338212, -0.08512565],
       ...,
       [-0.79233928, -0.15234813, -0.2415264 , ..., -0.10444659,
         1.63030511, -0.08512565],
       [-0.88552743, -0.28532797, -0.4251169 , ..., -0.10444659,
        -0.61338212, -0.08512565],
       [ 0.85708682,  0.44737507,  0.08662663, ..., -0.10444659,
        -0.61338212, -0.08512565]])

In [317]:
train_cols = train_full.columns
test_cols = test_full.columns

print(len(train_cols))
print(len(test_cols))

cols = set(train_cols) & set(test_cols)
print(len(cols))

74
55
40

In [318]:
train_full_40 = X_train_full[cols]
train_full_40.shape

(355, 40)

In [319]:
os_data_X_40 = train_full[cols] 
test_full_40 = test_full[cols]
clf.fit(os_data_X_40, os_data_y[:355])
y_pred = clf.predict(test_full_40)

y_pred

array([0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0])

In [321]:
s = pd.DataFrame(y_pred, columns=["Onshore/Offshore"])
s = s.reset_index()
d = {0: "OFFSHORE", 1: "ONSHORE"}
s["Onshore/Offshore"] = s["Onshore/Offshore"].map(d)
s = s.rename(columns={"index":"Index"})
s.to_csv("Titov_12.csv", index = False)
s

     Index Onshore/Offshore
0        0         OFFSHORE
1        1          ONSHORE
2        2          ONSHORE
3        3          ONSHORE
4        4         OFFSHORE
..     ...              ...
273    273         OFFSHORE
274    274         OFFSHORE
275    275         OFFSHORE
276    276          ONSHORE
277    277         OFFSHORE

[278 rows x 2 columns]