# Голкин Игорь Денисович

Ссылка на данные: https://www.kaggle.com/larsen0966/student-performance-data-set

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving student-por.csv to student-por.csv

In [ ]:
# 1. Считайте DataFrame
df = pd.read_csv("student-por.csv")
df

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1       GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2       GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3       GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4       GP   F   16       U     GT3       T  ...     2       5        0  11  13  13
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
644     MS   F   19       R     GT3       T  ...     2       5        4  10  11  10
645     MS   F   18       U     LE3       T  ...     1       1        4  15  15  16
646     MS   F   18       U     GT3       T  ...     1       5        6  11  12   9
647     MS   M   17       U     LE3       T  ...     4       2        6  10  10  10
648     MS   M   18       R     LE3       T  ...     4       5        4  10  11  11

[649 rows x 33 columns]

In [58]:
# 2. Написать фукнцию, которая принимает DataFrame
# и возвращает кортеж (количество строк для 'reason' == course, максимальное значение возраста для этой категории)
# ваш код тут
def a(df, x):
  df[df['reason'] == 'course']
  x = df['age'].max()
  return(df, x)
a(df, x)

(    school  sex  age address famsize  ... health  absences  G1  G2  G3
 0       GP    0   18       U     GT3  ...      3         4   0  11  11
 1       GP    0   17       U     GT3  ...      3         2   9  11  11
 2       GP    0   15       U     LE3  ...      3         6  12  13  12
 3       GP    0   15       U     GT3  ...      5         0  14  14  14
 4       GP    0   16       U     GT3  ...      5         0  11  13  13
 ..     ...  ...  ...     ...     ...  ...    ...       ...  ..  ..  ..
 644     MS    0   19       R     GT3  ...      5         4  10  11  10
 645     MS    0   18       U     LE3  ...      1         4  15  15  16
 646     MS    0   18       U     GT3  ...      5         6  11  12   9
 647     MS    1   17       U     LE3  ...      2         6  10  10  10
 648     MS    1   18       R     LE3  ...      5         4  10  11  11

 [649 rows x 33 columns], 22)

In [ ]:
# 3. Построить график:
# - гистограмма распределения количества записей для каждого типа 'reason'
# - гистограмма распределения количества записей для каждого типа 'school'
# Графики должны располагать на разных координатных плоскостях (по горизонтали)
# У графика должен быть заголовок, подписаны оси, а также легенда (т е графики должны быть подписаны)
# ваш код тут

In [ ]:
# 4. Проведите анализ DataFrame
# - Какая размерность данных?
# - Какие типы переменных представленны в наборе данных?
# - Есть пропуски в данных? Если да, удалите строки, в которых есть пропуски
# ваш код тут
print(df.shape)
print('___________________________________________')
print(df.info())
print('___________________________________________')
print(df.isna().sum())

In [ ]:
# 5. Удалите все строки, в которых значение status == Placed
# ваш код тут
df.drop(df[df.status == 'Placed'].index)
df

In [41]:
# 6. Создайте новый столбец в DataFrame, в котором будут типы Sex будут заменены на числовые значения
# например, все значения M станут равны 0, a F заменены на 1
# ваш код тут
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['sex'] = labelencoder.fit_transform(df['sex'])
df

    school  sex  age address famsize  ... health  absences  G1  G2  G3
0       GP    0   18       U     GT3  ...      3         4   0  11  11
1       GP    0   17       U     GT3  ...      3         2   9  11  11
2       GP    0   15       U     LE3  ...      3         6  12  13  12
3       GP    0   15       U     GT3  ...      5         0  14  14  14
4       GP    0   16       U     GT3  ...      5         0  11  13  13
..     ...  ...  ...     ...     ...  ...    ...       ...  ..  ..  ..
644     MS    0   19       R     GT3  ...      5         4  10  11  10
645     MS    0   18       U     LE3  ...      1         4  15  15  16
646     MS    0   18       U     GT3  ...      5         6  11  12   9
647     MS    1   17       U     LE3  ...      2         6  10  10  10
648     MS    1   18       R     LE3  ...      5         4  10  11  11

[649 rows x 33 columns]